.product-preview {
    position: relative;
}

.product-preview > img {
    height: 18.75rem;
    width: 100%;
}

.product-preview > .next {
    padding: 1rem;
    background-color: white;
    border-radius: 50%;
    top: 45%;
    position: absolute;
    right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}

.next > img {
    margin-left: .3rem;
}

.product-preview > .previous {
    padding: 1rem;
    background-color: white;
    border-radius: 50%;
    top: 45%;
    position: absolute;
    left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}

.previous > img {
    margin-right: .3rem;
}

.next > img, .previous > img {
        height: .75rem;
        width: .67rem;
    }