.product_preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
@media only screen and (min-width: 768px) {
    .product_preview {
        flex-direction: row;
        margin: 1;
    }
}
@media only screen and (min-width: 768px) {
    .product_preview {
        flex-direction: row;
        margin: 0;
        margin-top: 4rem;
    }
}
@media only screen and (min-width: 992px) {
    .product_preview {
        justify-content: space-between;
    }
}
.main_view {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.product_images {
    width: 100%;
}
@media only screen and (min-width: 992px) {
    .product_images {
        width: 55%;
        margin-right: 3rem;
    }
}
.main_view > img {
    height: 250px;
    width: 100%;
    object-fit: contain;
    border-radius: 9px;
    box-shadow: 0px 1px 3px var(--Dark-grayish-blue);
}
@media only screen and (min-width: 768px) {
    .main_view > img {
        height: 450px;
        width: 450px;
    }
}
.other_images {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.mini_preview {
    height: 40px;
    width: 40px;
    border-radius: 9px;
    transition: all .3s ease-in-out;
    display: none;
}
@media only screen and (min-width: 768px) {
    .mini_preview {
        height: 60px;
        width: 60px;
        display: block;
    }
}
.mini_preview_focus {
    border: 1.75px solid var(--Orange);
}
.other_images  img {
    height: 100%;
    width: 100%;
    border-radius: 9px;
    box-shadow: 0px 1px 3px var(--Dark-grayish-blue);
    object-fit: cover;
    transition: opacity .3s ease-in-out;
}
.img_focus {
    opacity: .5;
}
.next, .previous {
    height: 1rem;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}
.product_preview  .next {
    right: 2%;
}

.next > img {
    margin-left: .3rem;
}

.product_preview  .previous {
    left: 2%;
}

.previous > img {
    margin-right: .3rem;
}

.next > img, .previous > img {
    height: .75rem;
    width: .67rem;
}
.item_ {
    min-height: 190px;
    margin: 1rem;
    padding: 1rem;
}
@media only screen and (min-width: 992px){
    .item_ {
        width: 40%;
    }
}
.item_brand {
    color: var(--Orange);
    font-weight: 700;
    font-size: .8rem;
    margin-bottom: .55rem;
}
.item_title {
    font-size: 1rem;
}
@media only screen and (min-width: 600px) {
    .item_title {
        font-size: 1.3rem;
    }
}
.item_description {
    color: var(--Dark-grayish-blue);
    margin-bottom: 1rem;
    padding: 1rem 0;
    font-size: .9rem;

}
@media only screen and (min-width: 600px) {
    .item_description {
        font-size: 1rem;
    }
}
@media only screen and (min-width: 768px) {
    .item_description {
        width: 80%;
    }
}
.home_item_price:first-child {
    margin-right: 1rem;
}
@media only screen and (min-width: 768px) {
    .home_item_price {
        margin-bottom: 1rem;
    }
}
@media only screen and (min-width: 768px){
    .home_price {
        flex-direction: column;
    }
}