.cart {
    position: absolute;
    overflow-y: auto;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 251px;
    z-index: 300;
    background-color: white;
    border-radius: 3%;
    padding: 0 1rem;
}

.cart > h3 {
    text-align: start;
}

.cart_item {
    display: flex;
}

.cart_item > img {
    height: 50px;
    max-width: 50px;
    border-radius: 5px;
}
