.cart {
    position: absolute;
    top: 14em;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 281px;
    z-index: 10;
    background-color: var(--main-background);
    border-radius: 3%;
    padding: 0 1rem;
    box-shadow: 0px 0px 2px black;
    overflow-y: auto;
    visibility: hidden ;
    transition: width .3s ease-in-out;
    box-shadow: 0px 1px 3px var(--Black-lightbox-background);
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.cart::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.cart hr {
    height: 1px;
    border: none;
    background-color: var(--Grayish-blue);
}
.cart > h3 {
    margin: 1rem;
}
.checkout {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40%;
    align-items: center;
    text-align: center;
    font-weight: 700;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 7px;
    background-color: var(--Orange);
    color: var(--main-background);
    text-decoration: none;
    box-shadow: 0px 1px 3px var(--Black-lightbox-background);
}

.cart_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.3rem 0;
    padding: 0 1rem;
}
.item_info {
    display: flex;
}
.item_img {
    margin-right: 1rem;
}

.item_img  img {
    height: 30px;
    max-width: 30px;
    border-radius: 5px;
}
.item_price {
    font-size: .9rem;
    color: var(--Dark-grayish-blue);
}
.total_price {
    color: var(--Black-lightbox-background);
    font-weight: 700;
}
.empty_card {
    margin: 5rem;
    font-weight: 700;
    text-align: center;
    color: var(--Dark-grayish-blue);
}
@media only screen and (min-width: 600px) {
    .cart {
        width: 60%;
        top: 14.5rem;
        left: 63%;
    }
    .checkout {
        position: relative;
        margin: auto;
        margin-top: 3rem;
        bottom: 11px;
    }
    .item_price {
        font-size: .9rem;
    }
    .cart_item {
        margin-bottom: 1.5rem;
    }
}
@media only screen and (min-width: 1000px) {
    .cart {
        width: 40%;
        top: 15rem;
        height: 300px;
        left: 74%;
    }
}