.cart {
    position: absolute;
    top: 12.35rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 251px;
    z-index: 10;
    background-color: white;
    border-radius: 3%;
    padding: 0 1rem;
    box-shadow: 0px 0px 2px black;
    overflow-y: auto;
    visibility: hidden ;
    transition: width .3s ease-in-out;
    box-shadow: 0px 1px 3px var(--Black-lightbox-background);
}
.cart hr {
    height: 1px;
    border: none;
    background-color: var(--Grayish-blue);
}
.cart > h3 {
    margin: 1rem;
}
.checkout {
    display: flex;
    justify-content: center;
    width: 93%;
    align-items: center;
    text-align: center;
    font-weight: 700;
    margin: 1.55rem auto;
    padding: 1rem;
    border-radius: 7px;
    background-color: var(--Orange);
    color: var(--main-background);
    box-shadow: 0px 1px 3px var(--Black-lightbox-background);
}

.cart_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 0 1rem;
}
.item_info {
    display: flex;
}
.item_img {
    margin-right: 1rem;
}

.cart_item > img {
    height: 50px;
    max-width: 50px;
    border-radius: 5px;
}
.item_price {
    color: var(--Dark-grayish-blue);
}
.total_price {
    color: var(--Black-lightbox-background);
    font-weight: 700;
}
.empty_card {
    margin: 5rem;
    font-weight: 700;
    text-align: center;
    color: var(--Dark-grayish-blue);
}