.categories-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 3rem 0;
}
.categories-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: green;
}
.categories-item > a {
    text-decoration: none;
    color: black;
}