.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.3rem;
    margin: .5rem;
}

.avatar, .cart {
    height: auto;
    width: 20px;
}

.cart {
    margin-right: 1rem;
}

.hamburger {
    margin-right: 1rem;
}