.item_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 93%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 7px;
    color: var(--main-background);
    box-shadow: 0px 1px 3px var(--Black-lightbox-background);
    cursor: pointer;
}
.item_btn:hover {
    opacity: .75;
}
.item_btn span {
    margin-right: 1rem;
}
.item_btn p {
    font-weight: 700;
}
.add_to_cart {
    background-color: var(--Orange);
}
.remove_from_cart {
    background-color: var(--Dark-grayish-blue);
}

.item_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (min-width: 768px) {
    .home_item_buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 400px;
    }
    .home_btn_width {
        width: 59%;
    }
}