.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.3rem;
}

.avatar, .cart {
    height: auto;
    width: 20px;
}

.cart-img {
    margin-right: 1rem;
}

.hamburger {
    margin-right: 1rem;
    position: relative;
    z-index: 13;
}
.right-side {
    display: flex;
}
.cart_icon {
    position: relative;
}
.cart_quantity {
    position: absolute;
    top: -7px;
    right: 9px;
    background-color: var(--Orange);
    height: 0.9rem;
    width: 1.35rem;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Light-grayish-blue);
    font-size: .75rem;
}