.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 1px 0px 5px var(--Dark-grayish-blue);
}
.item-image > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1.25rem;
    border-radius: 5px;
}
.item-body {
    width: 100%;
    margin-top: auto;
}

@media only screen and (min-width: 600px) {
    .item-image {
        padding: 1rem;
    }
    .item-image > img {
        margin-bottom: 0;
        height: 100px;
    }
}